@namespace FlammableComponents
@inherits FlammableComponentBase


<button @attributes="AdditionalAttributes" @onclick="ClickHandler">
    @if (_busy)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    else
    {
        @Image
    }
    <span>@Text</span>
</button>