@namespace FlammableComponents
@inherits FlammableComponentBase

@typeparam TValue

<label @attributes="AdditionalAttributes" class="@Css">
    @DisplayName
    @Suffix
    <span style="color: red;">@(IsRequired ? " *" : string.Empty)</span>
</label>