@namespace FlammableComponents
@inherits FlammableComponentBase
@typeparam TItem

<div class="position-relative">
    <div class="table-loading @(Loading ? "d-flex" :"d-none") justify-content-center align-items-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="table-responsive mb-3">
        <table class="table table-hover border rounded w-100 mb-0 disable-selection">
            <thead>
                <tr>
                    @TableHeader
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr @onclick="(async () => await OnRowSelectedAsync(item))" @ondblclick="OnRowDblClickAsync" class="table-row @GetRowStyle(item)">@TableRow(item)</tr>
                }
            </tbody>
        </table>
    </div>
</div>