@page "/button"

<h3>Button</h3>
<hr />
<FlammableComponents.Button Text="Button" OnClick="DoWorkAsync" class="btn btn-primary" type="button" />


@code {

    private async Task DoWorkAsync()
    {
        await Task.Delay(1500);
    }
}