@page "/datetimepicker"

<h3>Date Time Picker</h3>
<hr />
<label>@Date</label>
<FlammableComponents.DateTimePicker @bind-Value="Date" />

@code {
    public DateTime? Date { get; set; } = DateTime.Now;
}