@page "/"

<<<<<<< HEAD
<h1>Hello, world!</h1>

Welcome to your new app.

<Button></Button>
<SurveyPrompt Title="How is Blazor working for you?" />
<FlammableComponents.Component1 />
=======
<h2>Welcome to Flammable Components</h2>
<hr />
>>>>>>> 92944854b788595bad69b88477c6bce78f7ef55e
