@page "/modalDialog"

<h3>ModalDialog</h3>
<hr />

<button type="button" class="btn btn-primary" @onclick="@OpenDialog">Open modal</button>

@code {
    [Inject] public FlammableComponents.IModalDialogService ModalDialogService { get; set; }

    public async Task OpenDialog()
    {
        RenderFragment body = (builder) =>
        {
            builder.OpenComponent(0,typeof(Counter));
            builder.CloseComponent();
        };

        var inst = await ModalDialogService.ShowAsync("TestHeader", body);
        var result = await inst.Result;

        if(result.Cancelled)
        {

        }
    }
}
